@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Copperplate";
  src: url("/CopperplateCC-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Nimbus";
  src: url("/TAN-NIMBUS.ttf") format("truetype");
}

.font-copperplate {
  font-family: "Copperplate", cursive;
}

.font-nimbus {
  font-family: "Nimbus", cursive;
}

.bg-pink {
  background-color: #fca5c5;
}

.text-pink {
  color: #fca5c5;
}

.bg-blue {
  background-color: #34c4fd;
}

.text-blue {
  color: #34c4fd;
}

.bg-orange {
  background-color: #ee5d25;
}

.bg-yellow {
  background-color: #fee05a;
}

.bg-green {
  background-color: #008000;
}
